body {
  padding: 50px;
}

/* Create animation */
@keyframes myAnimation {
  from {
    color: black;
  }
  to {
    color: red;
  }
}
/* @-webkit-keyframes myAnimation {
  from {
    color: black;
  }
  to {
    color: red;
  }
} */

/* Use animation */
button {
  padding: 15px 30px;
  border: 0;
  font-size: 1.5em;
}

button:hover {
  animation: myAnimation 1s;
  /* -webkit-animation: myAnimation 1s; */
}
