body {
  padding: 50px;
}

button {
  padding: 15px 30px;
  border: 0;
  font-size: 1.5em;
}

button:hover {
}

/* Create animation */
@keyframes myAnimation {
  from {
    color: black;
  }
  to {
    color: red;
  }
}

/* Use animation */
