body {
  padding: 50px;
}

/* Create animation */
@keyframes myAnimation {
  0% {
    color: black;
  }
  10% {
    color: purple;
  }
  90% {
    color: green;
  }
  100% {
    color: red;
    transform: scale(1.1);
  }
}
/* @-webkit-keyframes myAnimation {
  from {
    color: black;
  }
  to {
    color: red;
  }
} */

/* Use animation */
button {
  padding: 15px 30px;
  border: 0;
  font-size: 1.5em;
}

button:hover {
  animation: myAnimation 1s infinite alternate;
  /* -webkit-animation: myAnimation 1s; */
}
